<a href="https://colab.research.google.com/github/KavyaNair01/Machine_Learning/blob/main/humana2024Kavya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('humana_mays_target_member_visit_claims.csv', low_memory=False)

In [ ]:
df.head()

,dos_year,clm_unique_key,serv_date_skey,pcp_visit,annual_wellness,humana_paf,preventative_visit,comp_physical_exam,ihwa,fqhc_visit,...,physical_therapist_visit,cardiologist_visit,gastroenterologist_visit,orthopedist_visit,obgyn_visit,nephroloogist_visit,pulmonologist_visit,urgent_care_visit,er_visit,id
0,2021,90000007336,20210105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,733133
1,2021,90000030533,20210107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1296887
2,2021,90000039180,20210111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1331806
3,2021,90000048032,20210112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1548280
4,2021,90000070091,20210118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,689644

In [ ]:
df['ihwa'].sum()

0.0

In [ ]:
df['serv_date_skey'].min(),df['serv_date_skey'].max()

(20210101, 20221231)

In [ ]:
df['dos_year'].value_counts()

dos_year
2022    1499437
2021    1165768
Name: count, dtype: int64

In [ ]:
df.replace(to_replace='Y',value=1, inplace=True)

In [ ]:
cols=[x for x in df.columns if x not in ['id','dos_year', 'serv_date_skey', 'ihwa']]
agg_dict = dict()
for i in cols:
  if i == 'clm_unique_key':
    agg_dict[i] = 'nunique'
  else:
    agg_dict[i] = 'sum'
agg_dict

{'clm_unique_key': 'nunique',
 'pcp_visit': 'sum',
 'annual_wellness': 'sum',
 'humana_paf': 'sum',
 'preventative_visit': 'sum',
 'comp_physical_exam': 'sum',
 'fqhc_visit': 'sum',
 'telehealth': 'sum',
 'endocrinologist_visit': 'sum',
 'oncolologist_visit': 'sum',
 'radiologist_visit': 'sum',
 'podiatrist_visit': 'sum',
 'ophthalmologist_visit': 'sum',
 'optometrist_visit': 'sum',
 'physical_therapist_visit': 'sum',
 'cardiologist_visit': 'sum',
 'gastroenterologist_visit': 'sum',
 'orthopedist_visit': 'sum',
 'obgyn_visit': 'sum',
 'nephroloogist_visit': 'sum',
 'pulmonologist_visit': 'sum',
 'urgent_care_visit': 'sum',
 'er_visit': 'sum'}

In [ ]:
df2=df.groupby(['id','dos_year']).agg(agg_dict).reset_index()

In [ ]:
dct_2021=dict()
for i in df2.columns:
  if i not in ['id','dos_year']:
    dct_2021[i]='2021_'+i
dct_2021

{'clm_unique_key': '2021_clm_unique_key',
 'pcp_visit': '2021_pcp_visit',
 'annual_wellness': '2021_annual_wellness',
 'humana_paf': '2021_humana_paf',
 'preventative_visit': '2021_preventative_visit',
 'comp_physical_exam': '2021_comp_physical_exam',
 'fqhc_visit': '2021_fqhc_visit',
 'telehealth': '2021_telehealth',
 'endocrinologist_visit': '2021_endocrinologist_visit',
 'oncolologist_visit': '2021_oncolologist_visit',
 'radiologist_visit': '2021_radiologist_visit',
 'podiatrist_visit': '2021_podiatrist_visit',
 'ophthalmologist_visit': '2021_ophthalmologist_visit',
 'optometrist_visit': '2021_optometrist_visit',
 'physical_therapist_visit': '2021_physical_therapist_visit',
 'cardiologist_visit': '2021_cardiologist_visit',
 'gastroenterologist_visit': '2021_gastroenterologist_visit',
 'orthopedist_visit': '2021_orthopedist_visit',
 'obgyn_visit': '2021_obgyn_visit',
 'nephroloogist_visit': '2021_nephroloogist_visit',
 'pulmonologist_visit': '2021_pulmonologist_visit',
 'urgent_care_visit': '2021_urgent_care_visit',
 'er_visit': '2021_er_visit'}

In [ ]:
df2[df2['dos_year']==2021].rename(columns=dct_2021).to_csv('claims_2021')

In [ ]:
dct_2022=dict()
for i in df2.columns:
  if i not in ['id','dos_year']:
    dct_2022[i]='2022_'+i
dct_2022

{'clm_unique_key': '2022_clm_unique_key',
 'pcp_visit': '2022_pcp_visit',
 'annual_wellness': '2022_annual_wellness',
 'humana_paf': '2022_humana_paf',
 'preventative_visit': '2022_preventative_visit',
 'comp_physical_exam': '2022_comp_physical_exam',
 'fqhc_visit': '2022_fqhc_visit',
 'telehealth': '2022_telehealth',
 'endocrinologist_visit': '2022_endocrinologist_visit',
 'oncolologist_visit': '2022_oncolologist_visit',
 'radiologist_visit': '2022_radiologist_visit',
 'podiatrist_visit': '2022_podiatrist_visit',
 'ophthalmologist_visit': '2022_ophthalmologist_visit',
 'optometrist_visit': '2022_optometrist_visit',
 'physical_therapist_visit': '2022_physical_therapist_visit',
 'cardiologist_visit': '2022_cardiologist_visit',
 'gastroenterologist_visit': '2022_gastroenterologist_visit',
 'orthopedist_visit': '2022_orthopedist_visit',
 'obgyn_visit': '2022_obgyn_visit',
 'nephroloogist_visit': '2022_nephroloogist_visit',
 'pulmonologist_visit': '2022_pulmonologist_visit',
 'urgent_care_visit': '2022_urgent_care_visit',
 'er_visit': '2022_er_visit'}

In [ ]:
df2[df2['dos_year']==2022].rename(columns=dct_2022).to_csv('claims_2022')

In [ ]:
for i in df2.columns:
  print(i,df2[i].sum(),df2[i].max())

id 1241916954358 2000000
dos_year 2509430758 2022
pcp_visit 3592.0 5.0
annual_wellness 711.0 2.0
humana_paf 342.0 2.0
preventative_visit 12611.0 3.0
comp_physical_exam 6353.0 3.0
ihwa 0.0 0.0
fqhc_visit 132.0 3.0
telehealth 9813.0 11.0
endocrinologist_visit 50283.0 11.0
oncolologist_visit 93103.0 36.0
radiologist_visit 400805.0 27.0
podiatrist_visit 98056.0 17.0
ophthalmologist_visit 272229.0 13.0
optometrist_visit 163372.0 12.0
physical_therapist_visit 164339.0 30.0
cardiologist_visit 512118.0 84.0
gastroenterologist_visit 109589.0 15.0
orthopedist_visit 211381.0 20.0
obgyn_visit 45142.0 15.0
nephroloogist_visit 81808.0 43.0
pulmonologist_visit 86719.0 25.0
urgent_care_visit 64116.0 10.0
er_visit 314417.0 46.0

In [ ]:
df3=pd.read_csv('humana_mays_target_members.csv',low_memory=False)

In [ ]:
df3['calendar_year'].value_counts()

calendar_year
2023    1527904
Name: count, dtype: int64